
<div class="container">

    <nav id="navbar">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#">Order</a></li>
            <li role="presentation"><a href="#">About</a></li>
        </ul>
    </nav>
    
    <div id="welcome-container" class="asection">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="text-center">habanero seltzer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h3 class="text-center">Feel the burn in every sip!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img class="jalap-img center-block" src="jalap-sm.png"/>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p>When that refreshing bite of sparkling water just isn't cutting it. 
                When you need some water that will make you cry.</p>
                <button id="order-now" class="btn btn-primary center-block">Get me some!</button>
            </div>
        </div>
    </div>
    
    <div id="promo-container" class="asection">
        hello
    </div>
    
    <div id="order-container" class="asection">
        hello
    </div>

</div>