// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    .row {
        margin: 0;
        padding: 0;
        [class*='col-'] {
            padding: 0 10px;
            margin: 0;
        }
    }
}

// navbar

nav#navbar {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    ul.nav-pills {
        li {
            a {
                color: #000;
            }
        }
    }
}

@media(max-width: 400px) {
    nav#navbar .hidden-small {
        display: none;
    }
}

// Helper classes

.asection {
    padding: 20px;
}

// Section specifics

#welcome-container {
    background: #333;
    color: #fff;
    button#order-now {
        padding: 10px 60px;
        font-size: 22px;
    }
    p {
        text-align: center;
        margin: 20px 0;
    }
    margin-top: 40px;
}

#product-container {
    background: #fff;
    padding: 30px;
    #testimonials {
        .well {
            margin: 10px;
        }
    }
}

#activity-container {
    background: #333;
    color: #fff;
    padding: 30px;
    #sales-feed {
        .sales-feed-item {
            color: #000;
        }
    }
}

#order-container {
    background: #fff;
    padding: 30px;
    .tab-content {
        padding: 15px 0;
        min-height: 450px;
    }
    #order-form .tab-content [class*='col-'] {
        padding-left: 0;
    }
}

#footer-container {
    background: #333;
    color: #fff;
    padding: 30px;
}